@import "tailwindcss";

@theme {
  --color-text: #6b6375;
  --color-text-h: #08060d;
  --color-bg: #fff;
  --color-border: #e5e4e7;
  --color-accent: #aa3bff;
  --color-accent-bg: rgba(170, 59, 255, 0.1);
  --color-accent-border: rgba(170, 59, 255, 0.5);
  --color-accent-text: rgb(38, 34, 34);
  --color-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

:root {
  font: 18px/145% var(--font-sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #9ca3af;
    --color-text-h: #f3f4f6;
    --color-bg: #16171d;
    --color-border: #2e303a;
    --color-accent: #c084fc;
    --color-accent-bg: rgba(192, 132, 252, 0.15);
    --color-accent-border: rgba(192, 132, 252, 0.5);
    --color-accent-text: rgb(38, 34, 34);
    --color-shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-text-h);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  margin: 22px 0;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
